{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
    Clientes
{% endblock title %}
{% block extra_css %}
    <link href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css"
          rel="stylesheet" />
{% endblock extra_css %}
{% block content %}
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Clientes</h1>
        <a href="{% url 'comercial:cliente_create' %}"
           class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-plus fa-sm text-white-50"></i>
            <span class="d-none d-sm-inline">Adicionar Cliente</span>
        </a>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Listagem de Clientes</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-hover"
                       id="dataTable"
                       width="100%"
                       cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Telefone</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in clientes %}
                            <tr data-bs-detail="{% url 'comercial:cliente_detail' cliente.id %}"
                                style="cursor: pointer">
                                <td>{{ cliente.nome_razao_social|default_if_none:'Não inserido' }}</td>
                                <td>{{ cliente.email|default_if_none:'Não inserido' }}</td>
                                <td>{{ cliente.telefone|default_if_none:'Não inserido' }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4" class="text-center text-muted py-4">Nenhum cliente cadastrado.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extra_js %}
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <script src="{% static 'js/datatable.js' %}"></script>
{% endblock extra_js %}
